.App {
  text-align: center;
}

.nav-bar {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 20;
  background: #c7c7c7;
}

.nav-bar-2 {
  width: 100%;
  float: left;
  z-index: 100;
}

.nav-bar-1 {
  width: 100%;
  display: flex;
  background:#f1eeee;
}

.nav-bar-item {
  background-color: white;
  margin-right: 5px;
  position: relative;
  float: left;
  text-align: center;
  border: none;
  outline: none;
  width: 15%;
}

.button1 {
  outline: none;
  font-size:1.2em;
  font-weight: bold  
}

.button1:hover {
  outline:none;
  font-size:1.2em;
  font-weight: bold;
  background-color: rgb(252, 252, 252);
}

.sign-up-form > div > input, .sign-up-form > div > span  {
  margin-bottom: 20px;
  position: relative;
  left: 30%;
  display: inline;
}

/*.sign-up-form > div > label {
  position: relative;
  left: 31%;
  bottom: 2px;
} */


#sign-up-title {
  text-align: center;
}

.user {
  outline: none;
  font-size:1.2em;
  border:none;display:inline-block;padding:0px 0px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:context-menu;white-space:nowrap
}

.user-icon {
  border:none;display:inline-block;padding:2px 0 0px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:context-menu;white-space:nowrap

}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 7px 16px 7px 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-height: 40px;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}



.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.logout-button {
  outline: none;
  border:none;display:inline-block;padding:15px 10px 15px 10px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:context-menu;white-space:nowrap

}